In [146]:
import pandas as pd

### reading the file into a DataFrame

In [147]:
df = pd.read_csv("continents.txt", index_col=False, sep='\W+', engine="python")

### displaying the number of rows and columns

In [148]:
df.shape

(194, 2)

### displaying the first 5 countries in the alphabet

In [149]:
df.head(5)

  continent   country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

### continent with the most of the countries

In [150]:
df["continent"].value_counts().head(1)

Africa    54
Name: continent, dtype: int64

### on which continent is Cyprus?

In [155]:
cyprus = df.set_index('country')
cyprus.loc["Cyprus"]

continent    Europe
Name: Cyprus, dtype: object

### DataFrame with all African countries

In [161]:
africa = df.set_index('continent')
africa.loc["Africa"].head(3)

           country
continent
Africa     Algeria
Africa      Angola
Africa       Benin

### DataFrame with countries 80 through 100

In [440]:
subset = df.loc[80:100]
subset.head(5)

   continent      country a_2(country)
80      Asia        Nepal          [a]
81      Asia         Oman          [a]
82      Asia     Pakistan       [a, a]
83      Asia  Philippines           []
84      Asia        Qatar       [a, a]

### selecting every second country

In [441]:
second = df.loc[ : :2]
second.head(5)

  continent   country a_2(country)
0    Africa   Algeria       [A, a]
2    Africa     Benin           []
4    Africa   Burkina          [a]
6    Africa  Cameroon          [a]
8    Africa   Central          [a]

### selecting 10 random countries

In [442]:
random = df.sample(10)
random

     continent  country a_2(country)
2       Africa    Benin           []
35      Africa  Namibia       [a, a]
161      North  America       [A, a]
151      North  America       [A, a]
5       Africa  Burundi           []
1       Africa   Angola       [A, a]
37      Africa  Nigeria          [a]
62        Asia     East          [a]
180  Australia      and          [a]
24      Africa    Kenya          [a]

### selecting all countries having two or more a`s

import re

In [444]:
s = df["country"]

In [445]:
search = "a"

In [446]:
df["a_2(country)"] = df["country"].str.findall(search, flags =re.I)

In [447]:
df.head(5)

  continent   country a_2(country)
0    Africa   Algeria       [A, a]
1    Africa    Angola       [A, a]
2    Africa     Benin           []
3    Africa  Botswana       [a, a]
4    Africa   Burkina          [a]

In [448]:
#def show_country(x): 
    #if x == 'A,a' or x == 'a,a' or x == 'a,a,a' or x == 'A,a,a': 
        #return True
    #else: 
        #return False

In [449]:
df2 = df[["country", "a_2(country)"]]
df2.head(3)

   country a_2(country)
0  Algeria       [A, a]
1   Angola       [A, a]
2    Benin           []

In [450]:
#selected_countries = sr.select(show_country, axis=0)

In [451]:
#selected_countries

In [452]:
#def show_country(x): 
    #if int(x) == 2:
        #return True
    #else: 
        #return False

In [453]:
#selected_countries = sr.select(show_country, axis = 0)

In [454]:
#print(selected_countries)

In [455]:
df3 = df2.set_index("country")
df3.head(3)

        a_2(country)
country
Algeria       [A, a]
Angola        [A, a]
Benin             []

In [456]:
#df["country"].filter(regex=('a{2, }'))

In [464]:
#df["country"].filter(regex=('(a){2, }'))

Series([], Name: country, dtype: object)

In [458]:
#df3.filter(regex='a', axis=1).head(3)

In [459]:
#df["a_2(country)"].to_list()

In [465]:
#df.country.str.extract(r'(a){2, }')

In [480]:
s1=df["country"]

In [489]:
s1.str.contains('a{2,}', regex=True, case=False)

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
164    False
165    False
166    False
167    False
168    False
169    False
170    False
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
Name: country, Length: 194, dtype: bool