In [141]:
import pandas as pd
import numpy as np

In [142]:
df = pd.read_csv("pokemon.csv")

In [143]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [156]:
x = df.iloc[:,1]

dtype('O')

In [160]:
#df.iloc[[1]]
#column = df(df.iloc[:,1])
x = df.iloc[:,1]
column_1=pd.Series(data = "x")
column_1

0    x
dtype: object

In [123]:


def dtype_columns(x):
    for x in df.iloc[:,[x]]:
        dtype_columns.append(x.dtype)
        x += 1
    return x

In [124]:
dtype_columns

In [125]:
dtype_columns = []
for column in dtype_columns:
    column = df(df.columns(x)).dtype()
    x +=1
    dtype_columns.append(column)
    return dtype_columns()

SyntaxError: 'return' outside function (<ipython-input-125-022664e54435>, line 6)

In [126]:
0-turn columns to series
1-write the for loop
2-write function

SyntaxError: invalid syntax (<ipython-input-126-cb71d3229b42>, line 1)

In [127]:
columns = 

for dtype in columns

SyntaxError: invalid syntax (<ipython-input-127-68d1b1efa483>, line 1)

In [168]:
def dtype_columns(column, dtype):
    for column, dtype in (pd.series(df.iloc[:,x])):
        column = df.iloc[x]
        dtype = df.iloc[x].dtype
        x += 1
        dtype_columns.append(column, dtype)
        return x
print (dtype_columns)

<function dtype_columns at 0x11f22d158>

In [129]:
df["HP"].dtype

dtype('int64')